        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1040;
            width: 100vw;
            height: 100vh;
            background-color: #000;
        }

        .modal-backdrop.fade {
            opacity: 0;
        }

        .modal-backdrop.show {
            opacity: 0.5;
        }

        body.modal-open {
            overflow: hidden;
            padding-right: 0 !important;
        }

        .contact-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        .table th {
            white-space: nowrap;
        }

        .merge-preview .list-group-item {
            border-left: 4px solid transparent;
        }

        .merge-preview .list-group-item-success {
            border-left-color: #198754;
        }

        .merge-preview .list-group-item-warning {
            border-left-color: #ffc107;
        }

        .merge-preview .list-group-item-info {
            border-left-color: #0dcaf0;
        }